#main-logo {
  width: 100px;
}

.card-height {
  height: 700px;
}

.img-product:hover {
  cursor: pointer;
}

/*div.modal>form {
  width: 500px;
  margin: 0 auto;
}*/

hr {
  width: 50%;
}

.footerP {
  margin-bottom: 0;
}

.prom-badge {
  position: absolute;
}

.prom-badge-low {
  position: absolute;
  margin-left: 7rem;
}

.badge-warning {
  background-color: #ff9335;
  color: #fff;
}

.badge-descuento {
  color: #fff;
  background-color: #a0160c;
  margin-left: 1rem !important;
}

.img-carrito {
  width: 40px;
  height: 40px;
}

.zoom-img {
  transition: transform .2s;
}

.btn-success {
  background-color: #1c8e36;
  border-color: #1c8e36;
}

.btn-primary {
  background-color: #0068d8;
  border-color: #0068d8;
}

.bg-dark-submenu {
  background-color: #40464c;
}

.bg-secondary-submenu {
  background-color: #99a1a8;
}

.blink {
  animation: blink-animation 1s linear infinite;
  -webkit-animation: blink-animation 1s linear infinite;
}

.desplegar:hover>.dropdown-menu {
  display: block;
}

@keyframes blink-animation {
  50% {
    opacity: 0.2;
  }
}

@-webkit-keyframes blink-animation {
  50% {
    opacity: 0;
  }
}

@media (min-width:34em) {
  .card-deck>.lol>.card {
    height: 700px;
    flex-wrap: wrap;
    flex: initial;
  }
}
@media only screen and (max-width: 600px)  {
  
}

.slider-container {
  width: 100%;
}

.sliderMin, .sliderMax {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.sliderMin:hover, .sliderMax:hover {
  opacity: 1;
}

.sliderMax::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.sliderMax::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.sliderMin::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.sliderMin::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}
