.bg-gris {
  background-color: #efefef;
}

.img-size {
  width: 300px;
  height: 300px;
}

.precio {
  font-size: 44px;
  color: #246b23
}

.precio-sin-iva {
  width: 130px;
}

.precio-pvp {
  width: 130px;
}

.precio-secondary-size {
  font-size: 24px;
}

.descuento {
  width: 130px;
}

.quantity-box {
  width: 45px;
}

div.modal>form {
  width: 500px;
  margin: 0 auto;
}
