<nav class="navbar navbar-light bg-dark justify-content-between">
  <a class="navbar-brand text-success display-4" href="#"><img src="img/main-logo.png" id="main-logo" alt="Dragón verde">Green Dragon</a>
  <form class="form-inline">
    <input class="form-control mr-sm-2 font-weight-bold" type="search" size="35" placeholder="Buscar" aria-label="Buscar">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar
    </button>
  </form>
</nav>
<nav class="navbar navbar-toggleable-md navbar-light bg-success">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
  <ul class="nav nav-pills movie-sel-ul text-center">
    <button type="button" id="btn-identify" class="btn btn-outline-dark font-weight-bold">Identificarse</button>
    <button type="button" class="btn btn-outline-dark font-weight-bold ml-2">Cesta</button>
  </ul>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="#">Componentes</a>
      <a class="nav-item nav-link" href="#">Ordenadores</a>
      <a class="nav-item nav-link" href="#">Periféricos</a>
    </div>
  </div>
</nav>
